:root {
  --color-base-hue: 50; /* Yellow */
  --color-base-saturation: 100%;
  --color-base-lightness: 50%;

  --color-light: hsl(var(--color-base-hue), var(--color-base-saturation), 95%);
  --color-dark: hsl(var(--color-base-hue), var(--color-base-saturation), 20%);
  --color-primary: hsl(var(--color-base-hue), var(--color-base-saturation), var(--color-base-lightness));
}

body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-light);
  color: var(--color-dark);
}

h1 {
  color: var(--color-primary);
  text-align: center;
  padding: 20px 0;
}
