{% load static %}
<section class="hero">
  <div class="hero__bg-image" style="background-image: url('{% static "website/img/equipe/5.jpeg" %}')"></div>
  
  <div class="hero__bg-overlay"></div>
  <div class="container hero__content">
    <p class="hero__tagline">
      Engenharia de Competição • Alta Performance • Energia Elétrica
    </p> 
    <div class="hero__logo">
      <img src="{% static "website/img/grafite_logo_cortado.png" %}" alt="">
    </div>

    <p class="hero__description">
      O objetivo da equipe é projetar e construir do zero um protótipo elétrico
      tipo fórmula a fim de participar da competição Fórmula SAE BRASIL,
      organizada pela Sociedade de Engenheiros Automotivos (Society of
      Automotive Engineers - SAE).
    </p>
    <div class="hero__actions">
      <a href="#specs" class="btn btn--filled">Ver Especificações</a>
      <a href="#about" class="btn">Conheça o Projeto</a>
    </div>
  </div>
  <div class="hero__separator">
    <span class="hero__separator-text">Descubra o E-Cactus</span>
  </div>
</section>
