<header class="header">
    <div class="container header__inner">
        <a href="/" class="header__logo">
            <span class="header__logo-text">FORMULA SAE</span>
            <span class="header__logo-sub">UFERSA</span>
        </a>
        <nav class="header__nav">
            <a href="#about" class="header__nav-link">O Carro</a>
            <a href="#specs" class="header__nav-link">Especificações</a>
            <a href="#team" class="header__nav-link">Equipe</a>
            <a href="#contact" class="header__nav-link">Contato</a>
        </nav>
    </div>
</header>
